#wrap{
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

img{
    width: 400px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    display: inline-block;
    transform: scale(1.1);
    transition:  all 0.8s;
    color: gray;
}
.emp{
    color: tomato;
    font-weight: bolder;
}
.inner{
    font-size: 1vW;
    text-align: justify;
    border: 1px solid #ccc;
    padding: 20px;
    width: 700px;
}